In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

In [2]:
data = pd.read_csv('Dataset/TrustProperty.csv')
data

,Price,Resid_area,Air_qual,Num_rooms,Age,Teachers,Poor_prop,N_hos_beds,N_hot_rooms,Rainfall,Parks,Airport,Sold
0,24.0,32.31,0.538,6.575,65.2,24.7,4.98,5.480,11.1920,23,0.049347,Yes,0
1,21.6,37.07,0.469,6.421,78.9,22.2,9.14,7.332,12.1728,42,0.046146,No,1
2,34.7,37.07,0.469,7.185,61.1,22.2,4.03,7.394,101.1200,38,0.045764,No,0
3,33.4,32.18,0.458,6.998,45.8,21.3,2.94,9.268,11.2672,45,0.047151,Yes,0
4,36.2,32.18,0.458,7.147,54.2,21.3,5.33,8.824,11.2896,55,0.039474,No,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,28.6,43.92,0.437,6.678,31.1,24.0,6.27,6.972,10.2288,44,0.042031,Yes,0
296,27.1,43.92,0.437,6.549,51.0,24.0,7.39,10.442,10.2168,26,0.045356,No,1
297,20.3,43.92,0.437,5.790,58.0,24.0,15.84,7.606,11.1624,42,0.052079,Yes,0
298,22.5,32.24,0.400,6.345,20.1,25.2,4.97,9.450,13.1800,48,0.036878,No,1
299,29.0,32.24,0.400,7.041,10.0,25.2,4.74,7.980,11.2320,36,0.041376,Yes,1